@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&family=Libre+Franklin:wght@400;700&display=swap');


.footer{
    //border: 1px solid orange;
    padding: 30px 10px 10px 10px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__logo{
        height: 50px;
        width: 120px;
    }
    &__img{
        height: 40px;
    }
    &__info{
        font-size: 0.65rem;
        //border: 1px solid red;
        height: 60px;
        width: 140px;
        text-align: center;
        font-family: 'Dosis', sans-serif;

    }
    &__provee{
        font-size: 0.65rem;
        text-align: center;
        font-family: 'Dosis', sans-serif;
        color: white;
        background-color: black;
        border: none;
    }
    &__insta{
        margin: auto;
        img{
            height: 35px;
        }
    }
    &__face{
        img{
            height: 20px;
        }
    }
    &__twit{
        img{
            height: 20px;
        }
    }
    &__soc{
        display: flex;
        justify-content: space-between;
        width: 80px;
        margin-right: 15px;
        a{
            text-decoration: none;
        }
    }

    @media (min-width:730px) {
        &__logo{
            width: 160px;
            height: 65px;
            //border: 1px solid red;
            margin-top: -20px;
        }
        &__insta{
            img{
                height: 45px;
                //border: 1px solid red;
            }
        }
        &__info{
            //border: 1px solid blue;
            font-size: 0.8rem;
        }
        &__provee{
            font-size: 0.8rem;
        }
    }

    @media (min-width:1000px){
        justify-content: space-around;
        height: 150px;
        //border: 1px solid blue;
        &__logo{
            height: 110px;
            width: 250px;
        }
        &__info{
            font-size: 1rem;
            //border: 1px solid red;
            height: 80px;
            width: 200px;
        }
        &__provee{
            height: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            
            &__link{
                font-size: 1rem;
                color: white;
                text-decoration: none;
                //border: 1px solid orangered;
                
            }
        }
        &__insta{
            img{
                height: 50px;
            }
        }
        &__face{
            img{
                height: 50px;
            }
        }
        &__twit{
            img{
                height: 50px;
            }
        }
        &__soc{
            display: flex;
            justify-content: space-between;
            width: 200px;
        }
        &__img{
            height: 80px;
        }
    }
}
