@use "menuoculto";
@use "variables";


.header{
    font-family: 'Libre Franklin', sans-serif;
    //border-bottom: 1px solid variables.$celeste;
    
    height: 165px;
    display: flex;
    flex-direction: column;
    //border: 1px solid green;
    padding: 10px 0 ;
    &__logo{
        margin: 0 auto;
        width: 230px;
        padding: 15px 0;
        padding-right: 35px;
        //border: 1px solid red;
    }
    &__list{
        border: 1px solid blue;
        //padding: 5px;
        //width: 100%;
        &__op{
            width: 300px;
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            list-style: none;
            //border: 1px solid red;
            &__art{
                color: variables.$color_letras;
                font-weight: 400;
                font-size: 1rem;
                //text-transform: uppercase;
                text-decoration: none;
                padding: 10px 0px;
                //border: 1px solid green;
                align-items: center;
                height: 30px;
                //width: 100%;
                //transition: 0.5s;
            }
            &__art:hover{
                border:2px solid variables.$celeste;
                border-radius: 15px;
                color: variables.$azul_intenso;
                font-weight: 700;
                padding: 2px;
                //transition: 0.5s;
                //border-right: 2px solid variables.$celeste;
            }
        }
    }

    @media (min-width:1000px){
        height: 150px;
        flex-direction: row;
        //border: 1px solid blue;
        &__logo{
            margin-left: 50px;      
            width: 300px;
            //border: 1px solid red;
        }
        &__list{
            //border: 1px solid red;
            &__op{
                list-style: none;
                &__art{
                    display: none;
                }
            }
        }
    }
}


.nav{
    //border: 1px solid blue;

    @media (min-width:1000px){
        display: flex;
        width: 800px;
        flex-direction: column;
        order: 1;
        padding: 15px;
        //border: 1px solid red;
        height: 100%;
    }
}

.navlist{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    //border: 1px solid red;
    width: 300px;
    padding: 0;
    li{
        list-style: none;
    }
    
    &__art{
        color: variables.$color_letras;
        font-weight: 400;
        text-decoration: none;
        margin: 0;
    }
    &__art:hover{
        border:2px solid variables.$celeste;
        border-radius: 15px;
        color: variables.$azul_intenso;
        font-weight: 700;
        padding:5px;
        //transition: 0.5s;
        //border-right: 2px solid variables.$celeste;
    }
    
    @media (min-width:1000px){
        width: 600px;
        //border: 1px solid red;
        margin: auto 0;
        padding-left: 60px;
        &__art{
            //border: 1px solid blue;
            font-size: 1.3rem;
            text-decoration: none;
            color: variables.$color_letras;
            font-weight: 400;
            //transition: 0.5s;
            padding: 2px;
        }
        &__art:hover{
            border:2px solid variables.$celeste;
            border-radius: 50px;
            color: variables.$azul_intenso;
            font-weight: 700;
            //padding: 2px;
            //border-right: 2px solid variables.$celeste;
        }
    }
}