@use "menuoculto";
@use "variables";


.header{
    font-family: 'Libre Franklin', sans-serif;
    border-bottom: 2px solid variables.$celeste;
    padding: 0 10px;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    /*&__hamburg{
        width: 15px;
        @media (min-width:1000px){

            display: none;
            
        }
    }
    &__hamburg:hover{
        cursor: pointer;
    }*/
    
    &__logo{
        margin: auto;
        width: 150px;
        //border: 1px solid red;
    }
    &__list{
        //border: 1px solid blue;
        //width: 100%;
        margin: auto;
        &__op{
            width: 100%;
            display: flex;
            flex-direction: row;
            list-style: none;
            &__art{
                color: variables.$color_letras;
                font-weight: 400;
                font-size: 0.7rem;
                text-transform: uppercase;
                text-decoration: none;
                padding: 10px 40px;
                //border: 1px solid green;
                align-items: center;
                height: 30px;
                //width: 100%;
                
            }
            &__art:hover{
                border-top:2px solid variables.$celeste;
                color: variables.$azul_intenso;
                font-weight: 700;
                //border-right: 2px solid variables.$celeste;
            }
        }
    }

    @media (min-width:1000px){
        height: 150px;
        flex-direction: row;
        //border: 1px solid blue;
        &__logo{
            margin-left: 50px;      
            height: 100px;
            width: 220px;
            //border: 1px solid red;
        }
        &__list{
            //border: 1px solid red;
            &__op{
                list-style: none;
                &__art{
                    display: none;
                }
            }
        }
    }
}


.nav{
    @media (min-width:1000px){
        display: flex;
        width: 1000px;
        flex-direction: column;
        justify-content: right;
        order: 1;
        padding-left: 30px;
        //border: 1px solid red;
        
    }
   
}

.listoption{
    display: none;
}

.navlist{
    //border: 1px solid green;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    li{
        list-style: none;
    }
    
    &__art{
        display: none;
        font-weight: 400;
    }
    
    @media (min-width:1000px){
        
        width: 400px;
        &__art{
            display: block;
            text-decoration: none;
            color: variables.$color_letras;
            font-weight: 400;
            text-transform: uppercase;
        }
        &__art:hover{
            border-left:2px solid variables.$celeste;
            color: variables.$azul_intenso;
            font-weight: 700;
            //border-right: 2px solid variables.$celeste;
        }
    }
}