@use "variables";

body{
    position: relative;
    //border: 1px solid red;
}

.menu{
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid variables.$color_grey_back;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    display: none; //activa la barra lateral
    //border: 1px solid red;
    &__navback{
        position: absolute;
        top: 0;
        left: 0;
        &__close{
            height: 15px;
            position: absolute;
            top: 20px;
            left: 15px;
        }
        &__close:hover{
            cursor: pointer;
        }
        &__list2{
            list-style: none;
            position: relative;
            top:150px;
            left: 35%;
            display:flex;
            flex-direction: column;
            justify-content: space-between;
            //border: 1px solid green;
            height: 150px;
            &__art{
                //border:1px solid blue;
                text-decoration: none;
                color: variables.$color_letras;
            }
            &__art:hover{
                //border-left:2px solid variables.$celeste;
                color: variables.$azul_intenso;
                font-weight: 700;
            }
        }
    }
}