
$celeste: #00d4ff;
$celesteAzul:#098ee6;
$azul_intenso: #004aad;
$color_letras: #272728;
$color_grey: #545456;
$azul_intenso_2: #055393;
$color_grey_back:rgba(147, 147, 147, 0.21);
$color_blackopaciti: rgb(0, 0, 0,93%);